<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-body">
    <ul>
      <li>This project was designed to create schedules for various cohorts at WMU</li>
      <li>To Generate Schedules, First enter in all class requirements on the requirements page.</li>
      <ul>
        <li>Cohort represents the name of the cohort, and should match all other requirements for that cohort.</li>
        <li>Class is the name of the needed class, it should be entered as all uppercase letters and no spaces. (ie ECE1100)</li>
        <li>Seats required is the number of seats needed in that class by the cohort.</li>
        <li>Prefered Sections is the section prefix that is prefered for the cohort. (for sections like H01, enter H, for no preference leave blank)</li>
        <li>Ensure all necessary requirements are entered before running the scheduler.</li>
        <li>If a class has a lab with a separate course number (i.e. BIOS1600 and BIOS1610) create a requirement for each.</li>
      </ul>
      <li>The Schedules page allows you to run a schedule and view past generated schedules.</li>
      <ul>
        <li>The Schedule Name should indicate the semester that you are running the scheduler for, and should not match a the name from a prevous run</li>
        <li>The file upload should be an excel file (.xlsx). It should contain a row for each class section which can be chosen</li>
      </ul>
    </ul>
  </div>
</div>