<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current Cohort Requirements ({{cohorts.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Cohort</th>
          <th scope="col">Class</th>
          <th scope="col">Seats Required</th>
          <th scope="col">Sections Allowed</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cohorts.length === 0">
        <tr>
          <td colspan="4">There are no cohorts in the DB. Add a new cohort below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cohort of cohorts">
          <td>{{cohort.cohort}}</td>
          <td>{{cohort.class}}</td>
          <td>{{cohort.required}}</td>
          <td>{{cohort.sections}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(cohort)">
              <i class="fa fa-pencil"></i> Edit
            </button> 
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteCohort(cohort)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCohort(cohort)">
              <input class="form-control mr-2" type="text" name="cohort"
                     [(ngModel)]="cohort.cohort" placeholder="Cohort" required>
              <input class="form-control mr-2" type="text" name="class"
                     [(ngModel)]="cohort.class" placeholder="Class" min="0" required>
              <input class="form-control mr-2" type="number" name="required"
                     [(ngModel)]="cohort.required" placeholder="Seats Required" step="1" min="0" required>
              <input class="form-control mr-2" type="text" name="sections"
                     [(ngModel)]="cohort.sections" placeholder="Allowed Sections">
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new cohort requirement</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addCohortForm" (ngSubmit)="addCohort()">
      <input class="form-control mr-2" type="text" name="cohort"
              formControlName="cohort" placeholder="Cohort" required>
      <input class="form-control mr-2" type="text" name="class"
              formControlName="class" placeholder="Class" min="0" required>
      <input class="form-control mr-2" type="number" name="required"
              formControlName="required" placeholder="Seats Required" step="1" min="0" required>
      <input class="form-control mr-2" type="text" name="sections"
              formControlName="sections" placeholder="Sections Allowed">
      <button class="btn btn-primary" type="submit" [disabled]="!addCohortForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>