server {
        listen 443;
        server_name server.domain;
        ssl on;
        ssl_certificate /path/to/public/cert;
        ssl_certificate_key /path/to/private/key;

location / {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;

}

location /api/start {
        proxy_pass http://localhost:3096;
        proxy_set_header Upgrade    $http_upgrade;
        proxy_set_header Connection $http_connection;
        proxy_set_header Host       $host;

}

location /api/upload {
        proxy_pass http://localhost:3096;
        proxy_set_header Upgrade    $http_upgrade;
        proxy_set_header Connection $http_connection;
        proxy_set_header Host       $host;
}

location /api/status {
        proxy_pass http://localhost:3096;
        proxy_set_header Upgrade    $http_upgrade;
        proxy_set_header Connection $http_connection;
        proxy_set_header Host       $host;
}

location /api/cancel {
        proxy_pass http://localhost:3096;
        proxy_set_header Upgrade    $http_upgrade;
        proxy_set_header Connection $http_connection;
        proxy_set_header Host       $host;
}

}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name server.domain;
        return 301 https://$host$request_uri;
}

